{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}
{% block body %}
    <h1>Les Classes</h1>
    <table class="table">
        {% for theme in themes %}
            <tr>
                <td colspan="3" class="fs-4 fw-bolder bg-body-secondary " >{{theme.name}}</td>
                {% for programme in programmes %}
                    <tr>
                        {% if theme.name == programme.theme %}
                            <tr>
                                <td class="fs-6 fw-bolder ps-3" >{{programme.name}}</td>
                                <td>{{programme.price/100}} €</td>
                                <td>
                                    {% if is_granted('ROLE_USER') %}
                                        <a class="btn btn-primary btn-sm " href="{{ path('classe.purchase.programme', {id:programme.id})}}">Acheter</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% for lesson in lessons %}
                                {% if programme.name == lesson.programme %}
                                    <tr>
                                        <td class=" ps-5">{{lesson.name}}</td>
                                        <td>{{lesson.price/100}} €</td>
                                        <td>
                                            {% if is_granted('ROLE_USER') %}
                                                <a class="btn btn-primary btn-sm ms-4" href="{{ path('classe.purchase.lesson', {id:lesson.id}) }}">Acheter</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
